body {
    margin: 0;
    font-family: 'Palatino Linotype', serif;
}

.banner {
    background-image: url('Polish_20240814_154043407.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 400px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; /* Aligns everything to the left */
    padding: 20px; 
}

.title {
    font-size: 78px; 
    color: #D19FBB; 
    margin: 0; 
    padding-left: 25px; 
}

.subtitle {
    font-size: 18px; 
    color: #573146; 
    margin-top: 10px; 
   
