body {
    margin: 0;
    font-family: 'Palatino Linotype', serif;
}

.banner {
    background-image: url('Polish_20240814_154043407.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 400px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; /* Change to center the content horizontally */
    padding: 20px; 
}

.title {
    font-size: 78px; 
    color: #D19FBB; 
    margin: 0; 
    padding-left: 25px; 
}

.subtitle {
    font-size: 20px; /* Slightly larger font size */
    color: #573146; 
    margin-top: 10px; 
    padding-left: 25px; /* Adjusted to move the subtitle to the right */
    text-align: center; /* Center the subtitle text */
}

.donate-button {
    display: inline-block; 
    background-color: #F6D9E9; 
    color: #573146; 
    font-size: 16px; 
    padding: 15px 30px; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    margin-top: 15px;
    transition: background-color 0.3s; 
}

.donate-button:hover {
    background-color: #D4B5C1; 
}
